# Directories
node_modules
.output
.vercel
.nuxt
dist

apps/admin/*.d.ts

*.md
!README.md
!CHANGELOG.md

# Files
.gitignore
favicon.ico
*.env*
*.txt
*.lock
*.py

# Python stuff
python
.mypy_cache
venv
*.py