# Directories
node_modules
.nuxt
.output
.vercel
dist

*.md
!README.md
!CHANGELOG.md
!src/client/content/**/*.md

.env
.env.*
!.env.example

# Files
*.env*
*.txt
*.lock
*.py

# Python stuff
.mypy_cache
venv
Lib/**
